/* Error: compound selectors may no longer be extended.
 * Consider `@extend placeholders, .flex-center` instead.
 * See https://sass-lang.com/d/extend-compound for details.
 * 
 *    ,
 * 13 |     @extend placeholders.flex-center;
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\_navbar.scss 13:13  @forward
 *   scss\_index.scss 6:1     @use
 *   scss\main.scss 2:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: compound selectors may no longer be extended.\a Consider `@extend placeholders, .flex-center` instead.\aSee https://sass-lang.com/d/extend-compound for details.\a\a    \2577 \a 13 \2502      @extend placeholders.flex-center;\d\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\_navbar.scss 13:13  @forward\a   scss\\_index.scss 6:1     @use\a   scss\\main.scss 2:1       root stylesheet";
}
