// scss/_components.scss
// Cards, grids, botones genéricos
@use 'variables';
@use 'mixins';
@use 'placeholders';
// Títulos de sección
.section-title {
text-align: center;
font-size: variables.$font-size-lg;
margin: variables.$space-xl 0;
}

// Grids de características y proyectos
.grid-caracteristicas,
.grid-proyectos {
display: grid;
justify-content: center;
gap: variables.$space-lg;
padding: variables.$space-md;
height: 100%;

@include mixins.respond-md {
    grid-template-columns: repeat(2, 2fr);
}
@include mixins.respond-sm {
    grid-template-columns: 1fr;
}
}

.card-item {
@extend %box-shadow;
background: none;
border-radius: 10px;
text-align: center;
padding: variables.$space-lg;
transition: transform 0.3s;

&:hover {
    transform: translateY(5px);
    @extend %box-shadow-hover;
}

img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

h3 {
    font-size: variables.$font-size-md;
    font-weight: 700;
    margin: variables.$space-md 0 variables.$space-sm;
}

p {
    font-size: variables.$font-size-sm;
    margin-bottom: variables.$space-md;
}

.btn-card {
    @include mixins.btn-style;
    width: 100%;
    text-align: center;
}
}
