// scss/_footer.scss
// Estilos del footer
// Rediseñar para entrega finnal!!
@use 'variables';
@use 'placeholders';

.footer {
background-color: variables.$color-white;
padding: variables.$space-lg;

.footer-content {
    @extend %flex-center;
    gap: variables.$space-lg;
    flex-wrap: wrap;
}

.footer-logo {
    width: 100px;
}

.footer-links {
    @extend %flex-center;
    list-style: none;
    gap: variables.$space-lg;
    flex-wrap: wrap;

    li {
    @extend %flex-center;
    gap: variables.$space-xs;
    white-space: nowrap;

    a {
        color: variables.$color-black;
        text-decoration: none;

        &:hover {
        color: variables.$color-dark;
        }
    }
    }
}
}

